/*Bingo Reset */
@font-face {
    font-family: 'calibriRegular';
    src: url('../fonts/calibri.ttf') format('truetype');
	font-style:normal;
	font-weight:normal;
}
@font-face {
    font-family: 'Helvetice-Light';
    src: url('../fonts/HelveticaNeueLight.ttf') format('truetype');
	font-style:normal;
	font-weight:normal;
}

body{
	background-color: #e5e5ff;
	margin: 0;
	padding: 0;
	font-family: "calibriRegular";
	overflow-x: hidden;
}
button{
	background-color: #cc0000;
	border-radius: 4px;
	font-size: 20px;
	color: #fff;
}
button:hover, button:focus, button:active, button:visited{
	background-color: #ff4d4d;
}

/*header*/
.bingo-header{
	background-color: #222;
	padding:15px 20px;
	height: 50px;
}
.bingo-header *{
	display: inline-block;
	color:#fff;
	margin:3px;
}
.bingo-header h1{
	cursor: pointer;
    overflow: hidden;
    float: left;
    background: url('../images/dice.png') left top no-repeat;
    padding: 0 40px;
    margin: 5px;
}
.bingo-header h1>img{
	margin: 0px 10px;
	float: left;
}
.bingo-header nav{
	float: right;
}
.bingo-header nav>form>button{
	font-size: 20px; 
	margin:3px;
	border:none;
	border-radius: 3px;
	outline: none;
	padding: 4px 8px; 
	cursor: pointer;
}
.bingo-header nav ul li a{
 	list-style-type: none;
 	display: inline;
 	cursor: pointer;
 	margin: 5px 17px;
    font-size: 22px;
    font-family: "calibriRegular";
    text-decoration: none;
 }
 .bingo-header nav ul li a:hover,.bingo-header nav ul li a.active{
 	color:#d5d5c3;
 }

/*Footer*/
footer{
	background-color: #222;
	color: #fff;
	padding: 15px 0;
	text-align: center;
	position: absolute;
	width: 100%;
	font-family: "Helvetice-Light";
	margin-top:40px;
}

/*Login Form*/
.wrapper{
	background-color: #e7e7e7;
	margin: auto;
	float: none;
	border:1px solid #999;
	border-radius: 5px;
	margin: 57px auto;
}
.login-section.wrapper{
	width:400px;
}
.login-section form{
	overflow: hidden;
}
.registration-section.wrapper{
	width:500px;
}
.wrapper header h1{
	text-align: center;
	font-size: 28px;
}
.wrapper section ul{
	padding:0 15px;
	list-style-type: none;
}
.wrapper section ul li{
	color: #222;
    font-size: 20px;
    margin: 15px;
}
.wrapper section ul .forgot-password{
	float: right;
    margin: 0px 14px 15px 0px;
}
.wrapper section ul .forgot-password a{
  color:#3399FF;
  text-decoration: none;
}
.wrapper section ul .forgot-password a:hover{
	color:#3366FF;
}

.wrapper section ul li label{
	line-height: 40px;
	font-family: "Helvetice-Light";
}
.wrapper section ul li *{
	border: medium none;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 0 8px 5px;
    width: 100%;
}
.wrapper .login-btn{
	border:none;
	margin:15px 0 0 0;
	cursor: pointer;
	font-size: 20px;
}
.wrapper .reg-btn{
	margin: 15px 3px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}


/*HomePage*/
.banner-header img{
	width:100%;
	height: 500px;
}
.homepage-wrapper{
	margin:30px;
}
.thumbnail-panel{
	margin:30px;
}
.thumbnail-panel li{
	height: 200px;
	width:300px;
	border:1px solid;
	display: inline-block;
	margin:0 40px;
}
.thumbnail-panel li img{
	height: 200px;
	width:100%;
}
.thumbnail-panel li img:hover{
	opacity:0.9;
}
.homepage-wrapper p{
	font-family: "Helvetice-Light";
	font-size: 18px;
	line-height:28px;
}

/*Blog */
.blog-wrapper .thumbnail-panel p{
	font-size: 16px;
	font-style: italic;
	font-family: "Helvetice-Light";
	line-height: 25px;
}
.blog-wrapper .thumbnail-panel ul{
	display: inline-block;
}
.game-list{
	margin:0;
}
.blog-wrapper ul li{
	margin:0 20px;
	position: relative;
}
.game-list ul li{
	border:none;
	padding: 0;
	margin: 0;
	height: auto;
	display: block;
	width: 278px;
}
.game-list ul li a{
	text-decoration: none;
	color:#222;
	font-size: 18px;
	padding:4px 5px;
}
.game-list ul li a:hover{
	color:#555;
}
.thumbnail-panel li .search-img{
	height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    opacity: 1;
    background:#000 url('../images/search.png') no-repeat;
    background-position: 50%;
    opacity: 0
}
.thumbnail-panel li .search-img:hover{
	opacity: 0.7;
	cursor: pointer;
}
.game-thumbnail aside{
	width:200px;
	border:1px solid #e7e7e7;
	float: left;
	min-height: 690px;
}
.game-thumbnail aside ul li{
	padding: 0;
    margin:15px;
    font-size:18px;
    height: auto;
    width: auto;
    border: none;
}
.game-thumbnail aside ul li a{
	color:#222;
	text-decoration: none;
}
.game-thumbnail aside ul li a:hover{
	color:#777;
}
.site-blog-section{
	display: none;
}
.site-blog-section iframe{
	width: 1000px;
    height: 400px;
    padding: 5px;
    margin: 15px;
    border: 2px solid #555;
    float: right;
    opacity: 0.8;
}
.site-blog-section iframe:hover{
	opacity:1;
}

.video-blog-section iframe{
	float: right;
	border:none;
	padding: 15px 0;
}
.video-blog-section iframe video{
    padding: 35px 40px;
    margin: auto 0;
    border: none;
}
.video-blog-section video{
	float: right;
	margin: 19px;
	background: #000;
	border:1px solid #999;
	border-radius: 5px;
}
.video-blog-section section{
	float: right;
	width: 100%;
}

/*Client Template */
.client-template-banner{
	padding: 15px;
}
.client-template-banner ul{
	list-style-type: none;
}
.client-template-banner li{
	display: inline-block;
}
.client-template-banner li img{
	width: 410px;
	height: 250px;
	border:2px solid #999;
	box-shadow:0px 1px 10px 3px #000;
}
.client-email-template{
	width: 1000px;
	height: 600px;
	margin: auto;
	float: none;
}
.email_template{
	margin: 15px;
	float: right;
}


/*Score Board*/
.score-board table{
	float: none;
	margin:35px auto;
}
.score-board h2,h5{
	text-align: center;
}
table th{
	background: #000;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
}
table, th, td {
    border-collapse: collapse;
    padding: 15px 25px;
    background:#fff;
    text-align: center;
    font-family: "Helvetice-Light";
}
table td:first-child{
	text-transform: uppercase;
	text-align: left;
} 


/*game-score-table ul li structure*/
.game-score-table{
	margin: 35px;
	background: #fff;
	font-family: "Helvetice-Light";
}
.game-score-table ul{
	list-style-type: none;
	padding:0 15px;
}
.game-score-table li{
	display: inline-block;
	width: 105px;
	font-size: 15px;

}
.game-score-table li:first-child{
	width: 135px;
    padding: 15px 8px;
}
.game-score-table .gameboard-head{
	background: #000;
	color: #fff;
	text-align: center;
	border-color:#fff;
	font-weight: normal;
	font-size: 16px;
}
.gameboard-head ul li{
	color: #fff;
	text-align: center;
	border-color:#fff;
	font-weight: normal;
	font-size: 16px;
	width: 87px;
	}
.game-score-table .game-element ul{
	padding: 0;
}
.game-score-table .game-element li{
	text-align: center;
	border-color:#000;
	font-weight: normal;
	font-size: 16px;
	width: 84px;
    display: inline-block;
    padding: 15px 11px;
    margin: 0;
}
.game-score-table .game-element li:first-child{
	width: 135px;
    text-align: center;
}
